<div class="front-page-enclosure">
  <app-header></app-header>

  <div class="main-content-box">
    <div class="row">
      <div class="col-xs-6">
        <div class="front-image">
          <img src="./assets/img/front1.jpg" alt="Database">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="front-image">
          <img src="./assets/img/front2.png" alt="Database">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>This app provides an interface to sample PostgreSQL databases made available their wiki page. Click <a href="https://wiki.postgresql.org/wiki/Sample_Databases">here</a> for the wiki page. The interface will help making queries on the database and extracting informaton. Choose a database and click on continue below.</p>
      </div>
    </div>

    <div class="db-selector"
          *ngIf="!dbError">
      <form [formGroup]="chooseDB" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group">
            <select formControlName="db"
                    class="form-control">
              <option *ngFor="let dbItem of dbList;
                              let dbIndex=index"
                      [ngValue]="dbIndex">
                  {{ dbItem }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <button type="submit"
                  class="btn btn-primary">
              Continue
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="dbError"
          class="error-messages">
      <p>{{ dbErrorMessage }}</p>
    </div>


  </div>
</div>

<app-footer></app-footer>
