<div class="row">
  <h1>Database interface</h1>
</div>

<div class="row main-page">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <p>This app provides an interface to sample postgres databases made available on the Postgres wiki page. Click <a href="https://wiki.postgresql.org/wiki/Sample_Databases">here</a> for the wiki page. The interface will help making queries on the database and extracting informaton. The interface uses Node JS on the back-end and Sequelize as the SQL ORM to define database models and execute queries. Click on continue below.</p>

    <br>
    <p class="text-center">
      <a routerLink='/db'
          class="btn btn-primary">
          Continue
      </a>
    </p>
  </div>

  <div class="col-md-2"></div>
</div>
