/* You can add global styles to this file, and also import other style files */
* {
  width: 100%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  font-size: 125%;
}

.front-page-enclosure {
  background-color: rgb(155, 155, 155);
  min-height: 650px;
  height: auto;
  position: relative;
  overflow-y: visible;
  padding-bottom: 50px;
}

.footer-box {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 90%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}


.main-content-box {
  margin-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
}

.front-image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.front-image img {
  max-height: 60%;
  max-width: 60%;
}

.db-selector {
  display: block;
  text-align: center;
  width: 30%;
  margin: auto;
}

.db-selector button {
  width: 40%;
}

.error-messages {
  color: red;
  text-align: center;
}

table td, table th {
  text-align: center;
  width: auto;
  padding: 5px 10px;
}

.link-active {
  cursor: pointer;
}

.link-active:hover {
  background-color: lightblue;
  border-radius: 5px;
}
